<div class="py-20 min-h-screen flex items-center">
    <section>
        <div class="mb-10">
            <p class="text-6xl font-bold mb-5 text-blue-500">Error {{status}}</p>
            <p class="text-lg mb-5 text-black">{{message}}</p>
            
            <p class="text-xs text-black italic">{{error}}</p>
        </div>
        <a href="{{redirect}}" class="px-6 py-3 bg-blue-500 text-white rounded-lg hover:bg-blue-600">Volver a intentar</a>
    </section>
</div>