<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecoomerce</title>
    <script defer src="https://cdn.tailwindcss.com"></script>
</head>
<body class="overflow-x-hidden">
    {{!-- Header --}}
    <nav class="border-gray-200 bg-gray-900">

        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        
            {{!-- Logotipo --}}
            <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
                <span class="self-center text-2xl font-semibold whitespace-nowrap text-white">E-commerce</span>
            </a>

            {{!-- Button section --}}
            <div class="flex gap-2">
                {{!-- Chat button --}}
                <a href="/" class="text-white px-5 py-2 flex gap-2">
                    Inicio
                </a>

                {{!-- Chat button --}}
                <a href="/api/chat/active" class="text-white px-5 py-2 flex gap-2">
                    Chat Online
                </a>

                {{!-- User button --}}
                <a href="/api/users/profile" class="text-white px-5 py-2 flex gap-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                    </svg>

                    Mi cuenta
                </a>

                {{!-- Cart button --}}
                <a href="/api/carts/cart" class="bg-white text-black px-5 py-2 flex items-center gap-2" >
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
                    </svg>
                    Carrito
                </a>
            </div>
        
        </div>

    </nav>

    <div id="viewItemsCartButton" class="w-52 absolute right-0 m-5 bg-black text-white p-5 hidden rounded">
        <p>aca va a mostrar los productos</p>
    </div>
    
    <section class="max-w-screen-xl mx-auto">
        {{{body}}}
    </section>
    <script src="/js/index.js"></script>
</body>
</html>