<section class="min-h-screen flex flex-col items-center justify-center gap-5">
    <p class="text-7xl font-bold">Error {{title}}</p>
    <p class="text-xl">{{description}}</p>
    <a href="/" class="border py-2 px-5 mt-10"><button>Volver al inicio</button></a>
</section>
